/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container-footer {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container-footer .text-muted {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

[class^="fa fa-circle"], [class*=" fa fa-circle"] {
    display: inline-block;
    width: 100%;
}

[class^="fa fa-rocket"], [class*=" fa fa-rocket"] {
    display: inline-block;
    width: 100%;
}

*.icon-orange {color: #ffa500}
*.icon-red {color: red}
*.icon-green {color: green}
.table {
	width: 70%;
	float:left;
}
.tabletwo {
	width:28%;
	float:right;
}

.table tbody tr.promoted > td {
	background-color: #fcf8e3;	
}

.promoted-text {
	color: #ffa500;
	font-style: italic;
	}
.posts--group--header {
    margin: 25px 0 15px;
    text-align: center;
	margin-right:250px;
}
.title.v-big {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.title--subtext {
    color: #bbbbbb;
    font-size: 13px;
    font-weight: normal;
    line-height: 13px;
    margin-left: 8px;
}
.title {
    color: black;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin: 0 0 3px;
}
#sidebar, .sidebar {
    float: right;
    margin: 0 0 15px;
    overflow: hidden;
    width: 300px;
}
#sidebar .module.community-bulletin {
    background-color: #fff8dc;
    border: 1px solid #e0dcbf;
    color: #444;
    padding: 10px;
}
.module {
    word-wrap: break-word;
}
.module {
    margin-bottom: 1.5em;
}
#sidebar .related, #sidebar .linked {
    font-size: 13px;
}
.related {
    font-size: 12px;
    line-height: 1.3;
}

#sidebar .module.community-bulletin .bulletin-title {
    font-size: 13px;
}
.module.community-bulletin .bulletin-title:first-child {
    margin-top: 0;
}
.module.community-bulletin .bulletin-title {
    color: #777;
    font-weight: normal;
    margin-top: 15px;
}
.module .spacer {
    margin-bottom: 8px;
}

.module.community-bulletin .bulletin-item-type {
    color: #828282;
}
.bulletin-item-type {
    float: left;
    width: 12%;
}
#sidebar .related a, #sidebar .linked a {
    font-size: 13px;
}
.module.community-bulletin .question-hyperlink {
    font-weight: normal;
}
.related a {
    font-size: 12px;
    font-weight: normal;
}
.answer-hyperlink, .question-hyperlink {
    color: #07c;
    line-height: 1.3;
    margin-bottom: 1.2em;
}
.question-hyperlink {
    font-size: 16px;
    font-weight: 400;
}
a {
    color: #07c;
	cursor: pointer;
    text-decoration: none;
}
div.favicon {
    display: inline-block;
}
.bulletin-item-content {
    float: left;
    width: 88%;
}
.cbt {
    clear: both;
}
.oaerror{
  width:80%;
  background-color: #ffffff;
  padding:20px;
  border:1px solid #eee;
  border-left-width:5px;
  border-radius: 3px;
  margin:10px auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.danger{
  border-left-color: #d9534f; /* Left side border color */
  background-color: rgba(217, 83, 79, 0.1); /*Same color as the left border with reduced alpha to 0.1*/
}
.notice::after {
    clear: both;
    content: "";
    display: table;
}
.notice.v-colorset-blue {
    background-color: #44b6f1;
}
.notice {
    line-height: 20px;
    margin: 20px 0 10px;
    min-height: 36px;
    padding: 24px 54px 24px 20px;
    position: relative;
}